@import "mixins";

.component {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  @include desktop {
    height: $footer-height;
  }

  @include mobile {
    height: $footer-height-mobile;
  }
}

.wrapper {
  @include flex(flex-end);
}
